.box{
  border-color: black;
  border-style: solid;
  display: flex;
  justify-content: center;
}

.tamanhoLista {
  display: flex;
  justify-content: end;
  font-weight: bold;
}

.tamanho-lista-numeros{
  font-size: 20px;
}


