<body>
  <div class="container col-6">
    <div class="row">
      <div class=" col text-center mt-5 ">
          <button mat-raised-button routerLink="/game">Tabela de jogos zerados</button>
      </div>
      <div class=" col text-center mt-5">
          <button mat-raised-button routerLink="/empresa">Empresa</button>
      </div>
      <div class=" col text-center mt-5">
        <button mat-raised-button routerLink="/menu-lista">Menu-Lista</button>
    </div>
      </div>
    </div>
  <div>
    <app-conteudo-home></app-conteudo-home>
   </div>
</body>


